body {
  background: rgba(193, 147, 101, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(120, 72, 24, 1);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgba(112, 62, 19, 1);
  margin: 20px;
}
